body
	overflow: hidden
	
.section
	width: 100%
	// padding: 0 15%
	text-align: center
	
	
	// overflow: hidden
// .parallaxParent 
// 	height: 100vh
// 	overflow: hidden
	
// .parallaxParent > * 
// 	// height: 200%
// 	position: relative
// 	// top: -40%


.fixed
	position: fixed
	
.img-block
	background-image: url(http://fillmurray.com/900/1200)
	background-repeat: no-repeat 
	height: 100%
	width: 100% 
	left: 50%
	top: 0
	position: fixed
	z-index: -2