.twelfth-sec
	.list-container
		position: relative
		width: 140%
		display: flex
		left: 50%
		margin-left: -70% 
		ul
			text-align: left
			font-family: 'Gotham Book'
			color: $text-gray
			list-style: none 
			// list-style: circle url('../images/checkmark-bullet.png')
			h3
				font-family: 'Gotham Bold'
				font-size: 20px
				padding-left: 3rem
				 
			li
				font-size: 16px
				padding: 0.5rem 0
				position: relative
				span
					display: inline-block
					width: 100%
					padding-left: 3rem
					 
			img
				width: 16px
				height: 16px
				margin-right: 1rem
				position: absolute
				top: 1rem
								
			
	.left
		width: 50%
		left: 0
		border-right: dashed #a1a1a1 2px
	.right
		width: 50%
		left: 50%