.nav-local
	position: fixed
	color: $white
	z-index: 1005
	display: block
	right: 2% 
	top: 0
	width: 30%
	padding-top: 2%
	transition: right 300ms ease-in
	ul
		width: 100%
		li, a
			display: inline-block
			color: $white
			list-style-type: none
			font-family: 'Gotham Bold'
			text-transform: uppercase 
			padding-right: 5% 
			
	&.active
		right: 17.5% 

			