.thirteenth-sec
	@media screen and (min-width: 1024px)
		.product-wrapper
			top: 50%
			margin-top: -400px
			width: 550px
			height: 750px
		.product-wheel	
			.wheel
				width: 150px
				height: 150px
				margin-left: -75px
				margin-top: -75px
			.shadow
				width: 250px
				height: 250px
				margin-left: -125px
				margin-top: -125px
			.inside-content
				width: 100%
				font-size: 1.3rem
				top: 50%
			.dots-branches
				width: 500px
				height: 500px
				margin-left: -250px
				margin-top: -250px
			.bg-ring
				width: 500px
				height: 500px
				margin-top: -250px
				margin-left: -250px
			.dot
				width: 30px
				&-flexkey
					top: 17.4%
					left: 22%
				&-fha
					top: 26%
					left: 56.4%
				&-va
					top: 52.9%
					left: 65.3%
				&-conv
					top: 82.4%
					left: 52.5%
				&-usda
					top: 76.2%
					left: -1.3%
				&-jumbo
					top: 36.8%
					left: -0.8%
	@media screen and (min-width: 1400px)
		.product-wrapper
			width: 700px
			height: 900px
			margin-top: -450px
		.product-wheel	
			.wheel
				width: 200px
				height: 200px
				margin-left: -100px
				margin-top: -100px
			.shadow
				width: 350px
				height: 350px
				margin-left: -175px
				margin-top: -175px
			.inside-content
				width: 100%
				font-size: 1.5rem
				top: 50%
			.dots-branches
				width: 650px
				height: 650px
				margin-left: -325px
				margin-top: -325px
			.dot
				width: 30px
				&-flexkey
					top: 14.4%
					left: 22%
				&-fha
					top: 26%
					left: 56.4%
				&-va
					top: 52.9%
					left: 65.3%
				&-conv
					top: 82.4%
					left: 52.5%
				&-usda
					top: 76.2%
					left: -1.3%
				&-jumbo
					top: 36.8%
					left: -0.8%
			.bg-ring
				width: 600px
				height: 600px
				margin-top: -300px
				margin-left: -300px

	@media screen and (min-width: 1600px)
		.product-wrapper
			width: 1000px
			height: 900px
		.product-wheel	
			.wheel
				width: 250px
				height: 250px
				margin-left: -125px
				margin-top: -125px
			.shadow
				width: 450px
				height: 450px
				margin-left: -225px
				margin-top: -225px
			.inside-content
				width: 100%
				font-size: 2rem
			.dots-branches
				height: 850px
				width: 850px
				margin-left: -425px
				margin-top: -425px 
			.bg-ring
				width: 800px
				height: 800px
				margin-left: -400px
				margin-top: -400px
			.dot
				width: 30px
				&-flexkey
					top: 3%
					left: 19.6%
				&-fha
					top: 18.4%
					left: 63.6%
				&-va
					top: 53.4%
					left: 75.3%
				&-conv
					top: 92%
					left: 58.5%
				&-usda
					top: 84%
					left: -10.5%
				&-jumbo
					top: 32.2%
					left: -10.1%