.product-wheel
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	// top: 7.5%
	// height: 100%
	// left: -10%
	// height: auto
	
	.wheel
		width: 250px
		// width: 30%
		// height: 30%
		top: 40% 
		left: 32.5%
		margin-left: -125px
		position: absolute
		z-index: 10 
		animation: spin 5s linear infinite
	.shadow
		width: 450px
		// width: 50%
		// height: 50%
		margin-left: -225px
		position: absolute
		left: 32.5%
		top: 29.5%
		z-index: 1
		// animation: spin-shadow 5s linear infinite
	.outer-ring
		width: 310px
		// width: 37%
		// height: 37%
		position: absolute
		left: 32.5%
		margin-left: -155px
		top: 37%
		z-index: 8
		// animation: spin 5s linear infinite
	.inside-content
		position: absolute
		text-align: center
		text-transform: uppercase
		color: $blue
		font-size: 2rem
		font-family: 'Gotham Bold'
		letter-spacing: 1px  
		z-index: 11
		width: 100%
		left: 32.5%
		margin-left: -50%
		top: 51%
		
	.dots-branches
		position: absolute
		
		height: 850px
		// width: 90%
		margin-left: -425px
		z-index: 2
		left: 32.5%
		top: 6.5%
		
	
	.bg-ring
		position: absolute
		left: -9%
		// margin-left: -42.5% 
		top: 8%
		left: 32.5%
		margin-left: -400px  
		width: 800px
		// height: 800px
		z-index: 0
		animation: full-spin 20s linear infinite
	// .outer-dots
	// 	// width: 440px
	// 	width: 44%
	// 	height: 44%
	// 	position: absolute
	// 	left: 42.5%
	// 	margin-left: -22%
	// 	top: 28%
	// 	z-index: 9
	// 	// animation: spin-shadow 5s linear infinite
	// 	// display: none

	.dot
		position: absolute
		z-index: 500
		width: 30px
		height: auto
		animation: pulse 2s linear infinite
		animation-play-state: paused
		cursor: pointer
		&:hover
			animation-play-state: running
		&-flexkey
			top: 5%
			left: 19.6%
		&-fha
			top: 20.4%
			left: 63.6%
		&-va
			top: 55.4%
			left: 75.3%
		&-conv
			top: 94%
			left: 58.5%
		&-usda
			top: 86%
			left: -10.5%
		&-jumbo
			top: 34.2%
			left: -10.1%
			

@keyframes spin
	0%
		transform: rotate(0deg) //scale(1)
	50%
		transform: rotate(45deg) //scale(1.1)
	100%
		transform: rotate(0deg) //scale(1)


@keyframes full-spin
	0%
		transform:  rotate(0deg)
	100%
		transform:  rotate(360deg)
		
@keyframes pulse
	0%
		transform: 	scale(1)
	50%
		transform: 	scale(1.1)
	100%
		transform: 	scale(1)
		
	// .dots
	// 	// width: 350px
	// 	width: 35%
	// 	height: auto
	// 	position: absolute
	// 	left: 42.5%
	// 	margin-left: -17.5%
	// 	top: 25%
	// 	z-index: 9
	// 	animation: spin 5s linear infinite
	// 	display: none