.timeline
	&-line
		position: absolute
		left: 50%
	

	&-circle
		position: absolute
		
	&-date
		width: 76px
	    height: 76px
	    display: block
	    margin: 0 auto
	    vertical-align: middle
	    font-family: 'Geogrotesque', helvetica, arial, sans-serif
	    font-weight: normal
	    color: #000
	    letter-spacing: .5px
	    position: relative
